.container-forms {
  width: 100%;
  height: calc(100vh - 77px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
}
.left-login {
  width: 50%;
  height: 100%;
  padding: 50px;
}
.left-login h1 {
  font-size: 35px;
  margin-bottom: 50px;
}
.right-login {
  width: 50%;
  height: 100%;
}
.right-login img {
  width: 100%;
  height: 100%;
}
.btn {
  background-color: #4042e2;
  padding: 5px 25px;
}

.btn-login {
  background-color: #4042e2;
  padding: 5px 25px;
  margin-top: 25px;
}
.btn:hover {
  transform: scale(0.95);
  background-color: #4042e2;
}
.left-reg {
  width: 50%;
  height: 100%;
  padding: 50px;
}
.left-reg h1 {
  font-size: 35px;
  margin-bottom: 50px;
}
.right-reg {
  width: 50%;
  height: 100%;
  position: sticky;
  top: 0;
}
.right-reg img {
  width: 100%;
  height: 100%;
}
