* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.upper-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column {
  font-size: large;
  font-weight: bold;
  color: #4042e2;
}

/* .link::before {
  color: #fff;
} */

.switch {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-warehouses {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px 50px;
}

.singleWarehouse {
  background-color: #4042e2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.singleWarehouse h3 {
  font-size: 20px;
  font-weight: bold;
}

.singleWarehouse h1 {
  font-size: 25px !important;
  font-weight: bold;
  color: #fff !important;
}

.singleWarehouse h2 {
  font-size: 20px !important;
}

.singleWarehouse span {
  font-size: 80px;
  color: #8d8ef1;
}

.edit-btn {
  padding: 5px 30px;
  color: #4042e2;
  background-color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.edit-btn:hover {
  transform: scale(0.95);
}
