.logo {
  width: 150px;
}
.nav-links {
  color: #000 !important;
  font-size: 18px;
  margin: 0 10px;
}
.nav-links:hover {
  text-decoration: none;
  text-shadow: -0.06ex 0 #000, 0.06ex 0 #000;
}
.cta {
  color: #fff !important;
  font-size: 18px;
  background-color: #4042e2;
  margin: 0 10px;
  padding: 5px 15px;
  border-radius: 5px;
}
.cta:hover {
  text-decoration: none;
}
.ctaHvr:hover {
  text-decoration: none;
  transform: scale(0.96);
}
