.home-employee {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.shipment-employee {
  width: 60%;
  padding: 10px;
}

.upper-home-employee {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.up-employee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.down-employee {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
}

.down-employee b {
  padding: 0 5px;
}

.employee-form {
  margin-left: 20px;
  padding: 5px;
}
