* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.main {
  width: 100%;
  height: calc(100vh - 77px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 100px;
}
.left h2 {
  color: #4042e2;
  font-weight: bold;
  font-size: 30px;
  margin-top: 50px;
}
.left a {
  padding: 10px 30px;
  background-color: #4042e2;
  color: #fff;
  margin-top: 40px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
}
.left a:hover {
  text-decoration: none;
  color: #fff;
  transform: scale(0.95);
}
.header-hero {
  color: #4042e2;
  font-size: 70px;
  font-weight: bold;
  line-height: 40px;
}
.header-hero span {
  font-size: 40px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.right img {
  width: 100%;
}
#warehouse {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#warehouse h1 {
  margin-top: 30px;
  font-size: 50px;
  color: #4042e2;
}
.container-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px 50px;
}
.singleCard {
  background-color: #4042e2;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
}
.singleCard h3 {
  font-size: 20px;
  font-weight: bold;
}
.singleCard h1 {
  font-size: 25px !important;
  font-weight: bold;
  color: #fff !important;
}
.singleCard h2 {
  font-size: 20px !important;
}
.singleCard span {
  font-size: 80px;
  color: #8d8ef1;
}
.active {
  color: #880000 !important;
}
