.container-vn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.links-vn {
  padding: 0 15px;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.links-vn:hover {
  text-decoration: none;
  color: #4042e2;
}
