.filter-container {
  margin: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 20px;
}

.inner-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 0 !important;
  margin-right: 10px;
}

.btn-status {
  border: solid 1px black;
  border-radius: 5px !important;
  color: black !important;
  background-color: white !important;
  margin: 0 5px;
}

.btn-status:hover {
  transform: scale(0.95);
  color: black;
  text-shadow: -0.06ex 0 #000, 0.06ex 0 #000;
}

.shipments-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.single-shipment-container {
  padding: 20px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px 0;
}

.single-shipment-container summary {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}

.single-shipment-container summary p {
  font-size: 23px;
  text-shadow: -0.06ex 0 #000, 0.06ex 0 #000;
}

.single-shipment-container summary div {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
}

summary:before {
  content: "\27A4";
  padding: 5px;
}
details[open] summary:before {
  content: "▼";
  padding: 5px;
}

/* .shipment {
  display: flex;
  flex-direction: row;
} */

.shipment ul {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.shipment ul p {
  margin-left: 10px;
}
.shipment ul li {
  display: flex;
  align-self: center;
  padding: 10px;
  justify-content: flex-start;
  font-size: 24px;
}

.parcel-status {
  font-size: 20px;
}

.parcels-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}
